@media only screen and (max-width: 600px) {
    .button {
        margin-top: 15px !important
    }
}

.loginLayout {
    background: #54555c url("../images/login.jpg") no-repeat;
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-attachment: fixed;
    font-size: 12pt;
    font-family: Trebuchet MS;
    margin: 0;
    padding: 0;
    color: #323343;
}

.adminLayout {
    background: #54555c url("../images/Admin/dragon.jpg") no-repeat;
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-attachment: fixed;
    font-size: 12pt;
    font-family: Trebuchet MS;
    margin: 0;
    padding: 0;
    color: #323343;
}

.loginButton {
    display: block;
    width: 100%;
    border: none;
    background-color: #04AA6D;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.button {
    display: block;
    width: 100%;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.paging span {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.pagination {
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.pagination li {
    border-right: 1px solid #bbb;
}

ul.pagination li:last-child {
    border-right: none;
}

ul.pagination li a {
    display: block;
    color: white;
    background-color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.pagination li span {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.pagination li a:hover:not(.active) {
    background-color: #0d6efd;
}

ul.pagination li.active {
    background-color: #0d6efd;
}
